# Kafka
KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_USERNAME=username
KAFKA_PASSWORD=password
KAFKA_TOPICS=topic1,topic2,topic3
KAFKA_GROUP_ID=group_id
KAFKA_AUTO_OFFSET_RESET=earliest
KAFKA_ENABLE_AUTO_COMMIT=false
KAFKA_ALLOW_AUTO_CREATE_TOPICS=false
KAFKA_MAX_PARTITION_FETCH_BYTES=1024 # 1 MB
KAFKA_FETCH_MAX_BYTES=1024 # 1 MB

# MySQL
MYSQL_DOCUMENT_HOST=localhost
MYSQL_DOCUMENT_PORT=3306
MYSQL_DOCUMENT_USERNAME=username
MYSQL_DOCUMENT_PASSWORD=password
MYSQL_DOCUMENT_DATABASE=database
MYSQL_POOL_NAME=pool_name
MYSQL_POOL_SIZE=2
MYSQL_CONNECTION_TIMEOUT=10

# Neo4j
NEO4J_HOST=localhost
NEO4J_PORT=7687
NEO4J_USERNAME=username
NEO4J_PASSWORD=password
NEO4J_DATABASE=database
NEO4J_CONNECTION_TIMEOUT=10
NEO4J_MAX_CONNECTION_POOL_SIZE=2

# Service
UUID_NAMESPACE=12345678-1234-5678-1234-567812345678
