# Kafka
KAFKA_HOST=localhost
KAFKA_PORT=9093
KAFKA_USERNAME=username
KAFKA_PASSWORD=password
KAFKA_GROUP_ID=group_id
KAFKA_AUTO_OFFSET_RESET=earliest
KAFKA_ENABLE_AUTO_COMMIT=false
KAFKA_ALLOW_AUTO_CREATE_TOPICS=true
KAFKA_MAX_PARTITION_FETCH_BYTES=1048576 # 1 MB
KAFKA_FETCH_MAX_BYTES=1048576 # 1 MB
KAFKA_TOPICS=topic1,topic2,topic3

# MySQL
MYSQL_DOCUMENT_HOST=localhost
MYSQL_DOCUMENT_PORT=3306
MYSQL_DOCUMENT_USERNAME=username
MYSQL_DOCUMENT_PASSWORD=password
MYSQL_DOCUMENT_DATABASE=database
MYSQL_POOL_NAME=pool_name
MYSQL_POOL_SIZE=2
MYSQL_CONNECTION_TIMEOUT=10

# Neo4j
NEO4J_HOST=localhost
NEO4J_PORT=7687
NEO4J_USERNAME=username
NEO4J_PASSWORD=password
NEO4J_DATABASE=datsbase
NEO4J_CONNECTION_TIMEOUT=10
NEO4J_MAX_CONNECTION_POOL_SIZE=2

# Service
UUID_NAMESPACE=12345678-1234-5678-1234-567812345678

# Logging
LOG_NAME=service_logger
LOG_FILE=service.log
LOG_BACKUP_COUNT=5
LOG_MAX_BYTES=1073741824 # 1 GB
LOG_LEVEL=debug
